body {
    color: #999;
}
.box{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 80px; 
  gap:10px;
}
.container{

  display: flex;
  align-items: center;
  width: 266px;
  gap: 10px;
  grid-auto-rows: min-content;

}

.mir{
  background-image: url("../img/mir.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
}
.amix{
  background-image: url("../img/americanexpress02.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
}

.discover{
  background-image: url("../img/discover.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
}

.mastercard{
  background-image: url("../img/mastercard.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
}

.visa{
  background-image: url("../img/visa.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
}
.diners{
  background-image: url("../img/dinersclub.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
}
.img{
  width: 55px;
  border-radius: 5px;
}

.blur{
  background-color: white;
  width: 55px;
  opacity: 0.3;
  filter: blur(1px);
}

.input{
  height: 25px;
  width: 140px;
  border: 1 solid gray;
  border-radius: 5px;
}

.button{
  /* height: 25px; */
  /* padding: 5px; */
  width: 140px;
  border-radius: 5px;
  background-color: green;
  color:white;
}
